<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random Drink Selector</title>
  <!-- vue -->
  <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
  <link rel="manifest" href="./favicon/site.webmanifest">
  <link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <!-- css -->
  <link rel="stylesheet" href="./assets/css/training.css">
  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap" rel="stylesheet">
</head>

<body>
  <div id="app">

    <nav>
      <ul>
        <li class="selected-page">
          <a href="../index.html">
            <button class="nav-btn">Training</button>
          </a>
        </li>
        <li>
          <a href="pages/tecniche.html">
            <button class="nav-btn">Tecniche</button>
          </a>
        </li>
      </ul>
    </nav>

    <div class="container">

      <!-- random button -->
      <button class="random-btn" @click="selectDrink()">Get a Random Drink</button>

      <!-- cocktail card -->
      <div class="cocktail-card" v-show="show_drink">
        <img :src="drink.img" alt="" class="cocktail-img">
        <div class="cocktail-name">{{drink.name}}</div>
        <button class="recipe-btn" @click="alternate_cards()">
          <span>Show Recipe</span>
          <img src="assets/icon/arrow.png" alt="" class="btn-icon">
        </button>
      </div>

      <!-- recipe card -->
      <div class="recipe-card" v-show="show_recipe">
        <!-- technicque -->
        <div class="recipe_section">
          <div class="recipe-element-header">Tecnica</div>
          <div>{{drink.technique}}</div>
        </div>
        <!-- glass -->
        <div class="recipe_section">
          <div class="recipe-element-header">Glass</div>
          <div v-if="Array.isArray(drink.glass)">
            <div v-for="(glass, index) in drink.glass" :key="index">{{glass}}</div>
          </div>
          <div v-else>
            {{drink.glass}}
          </div>
        </div>
        <!-- recipe -->
        <div class="recipe_section">
          <div class="recipe-element-header">Recipe</div>
          <div v-if="Array.isArray(drink.recipe)">
            <div id="modal-garnish" v-for="(ingredients, index) in drink.recipe" :key="index">

                <div class="recipe-line">
                    <div class="level">{{ingredients.level}}</div>
                    <div class="ing">{{ingredients.ing}}</div>
                </div>
            </div>
        </div>
        <div v-else>
            {{drink.recipe-btn}}
        </div>
        </div>
        <!-- garnish -->
        <div class="recipe_section">
          <div class="recipe-element-header">Garnish</div>
          <div v-if="Array.isArray(drink.garnish)">
            <div v-for="(ingredient, index) in drink.garnish" :key="index">{{ingredient}}</div>
          </div>
          <div v-else>
            {{drink.garnish}}
          </div>
        </div>
      </div>

    </div>
  </div>
</body>

</html>

<!-- Import App -->
<script src="main.js"></script>


</body>

</html>