* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #E7F0DC;
    font-size: 14px;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* nav */
nav {
    max-width: 350px;
    margin: 50px auto !important;
}

.nav-btn {
    padding: 10px 0;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    font-size: 1.1rem !important;
    font: inherit;
    cursor: pointer;
}

.nav-btn:hover {
    color: #55AD9B;
    font-weight: 400;
}

.selected-page {
    border-bottom: 2px solid #55AD9B;
    border-radius: 0;
}

.selected-technicque {
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

/* method */

.method-container {
    padding: 30px 0;
    margin: 0 auto;
    max-width: 350px;
    margin: 100px auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.method-name {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: inherit;
    font-weight: 400;
}

.method-step {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;

}

.step-arrow-name {
    display: flex;
    flex: 2;
    align-items: center;
    width: 100%;
    gap: 20px !important;
    font-size: 1rem;
}

.btn-icon{
    height: 20px;
}

.step-icon {
    height: 100px;
    flex: 1;
    object-fit: contain;
}

.method-btn {
    font-size: 2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.method-btn:hover {
    transform: scale(1.2);
    border: 1px solid black;
}

/* family */

.family-container {
    max-width: 350px;
    margin: 100px auto;
}

@media only screen and (min-width: 576px) {
    .container {
        max-width: 500px;
        height: 350px;
    }
}

.family-name {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: inherit;
    font-weight: 400;
    text-align: center;
    margin: 0 auto 50px auto;
    padding: 20px;
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px !important;
}


/****************** modal button (cocktail card) ******************/


.open-modal {
    border: none;
    transition: all 0.3s ease-in-out;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #D7EFD3;
    background-color: #95D2B3;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    font: inherit;
}

.open-modal:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 5px 8px 0px #32685d;

}

.open-modal:active {
    transform: translateY(2px);
}

.card-img {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: 2px solid #587969;
}

.cocktail-title {
    display: flex;
    justify-content: center;
    font: inherit;
    font-size: 1.1rem;
    width: 100%;
}


/******************* Modal **********************/

.modal {
    /*  display: none; // Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 30px;
    border: 1px solid #888;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: #95D2B3;
    font-size: 1.2rem;
    position: relative;
    padding-bottom: 50px;

}

.modal::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just to hide the scrollbar */
}

.close-button {
    position: -webkit-sticky;
    /* For Safari */
    position: fixed;
    top: 2%;
    /* Stick 5% from the top of the viewport */
    display: flex;
    align-self: flex-end;
    width: fit-content;
}

.close-button > img {
    position: relative;
    right: -20px;
    width: 80px;
    color: red;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.close-button > img:hover,
.close-button > img:focus {
    transform: scale(1.1);
}

.random-btn:hover {
    transform: scale(1.1);
}


.modal-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: -30px;
    margin-bottom: 40px;
    text-align: center;
}

.modal-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    border-radius: 100%;
    border: 2px solid #587969;
}


.modal-section-title {
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 30px;
    border-radius: 30px;
    padding: 10px;
    background-color: #D8EFD3;
    width: 100%;
    margin: 0 auto 30px auto;
}

.modal-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px 0;
}

.recipe-ingredients {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recipe-line {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 10px;
}

.col-1 {
    font-weight: 500;
    text-align: right;
    padding-right: 20px;
}
.col-2 {
    text-align: left;
}

/* 
.level{
    display: flex;
    justify-content: flex-start;
    
}

.ing{
    display: flex;
    justify-content: flex-end;
    
} */

.garnish-ingredients {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.glasses {
    display: flex;
    flex-direction: column;
    gap: 20px;
}