*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */

}

body{
    background-color: #E7F0DC;
    font-size: 14px;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 100px;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 0px; /* Hide the scrollbar */
    background: transparent; /* Optional: hide the scrollbar background */
  }

/* nav */
nav{
    max-width: 350px;
    margin: 50px auto !important;
    
}

.nav-btn{
    border: none;
    background-color: transparent;
    padding: 10px 30px;
    font: inherit;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav-btn:hover{
    color: #55AD9B;
    font-weight: 400;
}

a{
    text-decoration: none;

}

.selected-page{
    border-bottom: 2px solid #55AD9B;
    border-radius: 0;
}

ul{
    list-style-type: none;
    display:flex; 
    justify-content: space-around;
}



header{
    max-width: 350px;
    margin: 50px auto;
    text-align: center;
   
}

h1{
    font: inherit;
    font-weight: 500;
    font-size: 1.5rem;
}

.techniques-container{
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.technicque-btn{
    padding: 20px 50px;
    border-radius: 15px;
    border: none;
    background-color: #95D2B3;
    width: 300px;
    font-size: 1.1rem !important;
    transition: all 0.3s ease-in-out;
    font: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.technicque-btn:hover{
    transform: scale(1.1);
    box-shadow: 0px 5px 8px 0px #32685d;
}

.technicque-btn > img {
    flex: 1;
}

.technicque-btn > p{
    flex: 2;
    text-align: center !important;
}

.technicque-btn:nth-child(6){
    margin-bottom: 50px;
}



.tec-icon{
    width: 20px !important;
}