* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    font-size: 14px;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #E7F0DC;
}


/* nav */
nav {
    max-width: 350px;
    margin: 50px auto !important;

}

.nav-btn {
    border: none;
    background-color: transparent;
    padding: 10px 30px;
    font: inherit;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav-btn:hover{
    color: #55AD9B;
    font-weight: 400;
}

.selected-page {
    border-bottom: 2px solid #55AD9B;
    border-radius: 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}


/*  */

.container {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
    width: calc(100vw - 20px);
}

@media only screen and (min-width: 576px) {
    .container {
        max-width: 500px;
    }
}



.random-btn {
    padding: 15px 50px;
    border-radius: 30px;
    font: inherit;
    font-size: 1.1rem !important;
    border: none;
    background-color: #95D1B3;
    display: flex;
    align-self: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.random-btn:hover{
    transform: scale(1.1);
}
/* Cocktail Card */

.cocktail-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    background-color: #95D2B3;
}

.cocktail-img {
    width: 250px;
    height: 250px;
    object-fit:cover;
    border-radius: 15px;
    border-radius: 100%;
    border: 2px solid #587969;
}


.cocktail-name {
    font-size: 1.5rem;
    margin: 30px;
    font-size: 1.5em;
    color: #333;
    width: 250px;
    text-align: center;
    font-weight: 400;
}

.recipe-btn {
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 1.1rem;
    font-family: inherit;
    display: flex;
    align-items: center;
    gap: 20px;
    border: none;
    background-color: #D8EFD3;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}

.recipe-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.btn-icon{
    width: 30px;
}

/* Recipe */

.recipe-card {
    background-color: #95D2B3;
    color: black;
    padding: 30px;
    border-radius: 10px;
    font-size: 1.1rem;
    text-align: center;
}

.recipe-element-header {
    background-color: #D8EFD3;
    padding: 5px;
    border-radius: 30px;
    margin: 0 auto 30px auto;
    font-size: 1.2rem;
    font-weight: 400 !important;
}

.recipe-element-header {
    font-weight: 500;
}

.recipe_section:first-child{
    margin-top: 30px;
}

.recipe_section{
    margin-bottom: 30px;
}
.recipe-ingredients{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recipe-line{
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
}

.level {
    font-weight: 500;
}

/* .level{
    display: flex;
    justify-content: flex-end;
}

.ing{
    display: flex;
    justify-content: flex-start;
} */

/*  */
.hidden {
    display: none;
}

.garnish-ingredients{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.glasses{
    display: flex;
    flex-direction: column;
    gap: 20px;
}