*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* nav */
nav{
    max-width: 350px;
    margin: 50px auto !important;
    
}

.nav-btn{
    border: none;
    background-color: transparent;
    font: inherit;
    font-size: 1.1rem;

}

.selected-page{
    border-bottom: 2px solid #55AD9B;
    border-radius: 0;
}

ul{
    list-style-type: none;
    display:flex; 
    justify-content: space-around;
}

.nav-btn{
    padding: 10px 30px;
    border-radius: 10px;
}

/*  */
.cocktail-card{
    display: flex; 
    flex-direction:column;
    align-items: center;
    border: 1px solid black;
    padding-top: 30px;
    border-radius: 10px;
    background-color: lightyellow;
}

.cocktail-img{
    width: 250px;
    /* border: 1px solid black; */
    border-radius: 10px;
}

.recipe-card{
    background-color: lightblue;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid black;
}

.recipe-element-header{
    background-color: lightcoral;
    border-radius: 10px;
    margin-bottom: 20px;
}

.button{
    border: none;
    background-color: #95D2B3;
    padding: 10px 20px;
}


* {
    color: rgba(0, 0, 0, 0.795);
}

.hidden {
    display: none;
}

#result {
    margin-top: 20px;
    font-size: 1.5em;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 1em;
}

#recipe {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #666;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

#result {
    text-align: center;
}

#recipe {
    text-align: center;
    font-size: 1.2rem;

}

button {
    border-radius: 20px;
    background-color: lightgreen;
    font: inherit;
}

body {
    background-color: lightcyan;
}

.cocktail {
    font-size: 1.5rem;
}