<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <!-- vue -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/site.webmanifest">
    <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="../assets/css/cocktails-page.css">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap" rel="stylesheet">
</head>

<body>

    <div id="app">

        <nav>
            <ul>
                <li>
                    <a href="../index.html">
                        <button class="nav-btn">Methods</button>
                    </a>
                </li>
                <li>
                    <a href="./training.html">
                        <button class="nav-btn">Training</button>
                    </a>
                </li>
            </ul>
        </nav>

        <main>

            <div class="method-container">
                <div style="display: flex; width: 100%;justify-content: space-around;align-items: center;">
                    <div class="method-name" style="margin: 0;">{{method.method}}</div>
                    <button @click="showMethod = !showMethod" v-if="!showMethod" class="method-btn">+</button>
                    <button @click="showMethod = !showMethod" v-if="showMethod" class="method-btn">-</button>
                </div>
                <div v-for="(step, index) in method.steps" :key="index" class="method-step" v-show="showMethod">
                    <div class="step-arrow-name">
                        <img src="../assets/icon/arrow.png" alt="" class="btn-icon">
                        <div>{{step.step}}</div>
                    </div>
                    <img v-if="step.icon" :src="step.icon" alt="" class="step-icon">
                </div>
            </div>

            <div class="family-container" v-for="(family, index) in groupedDrinks" :key="index">
                <div class="family-name" v-if="Object.keys(family.drinks).length > 1">{{family.family}}</div>
                <div class="cards-container">
                    <div v-for="(drink, index1) in family.drinks" :key="index1">
                        <button @click="openModal(drink)" class="open-modal">
                            <p class="cocktail-title">{{drink.name}}</p>
                            <img :src="drink.img" alt="" class="card-img">
                        </button>
                    </div>
                </div>
            </div>

            <!-- modal -->
            <div class="modal" v-show="modalShow" v-if="modalDrink" ref="modal">
                <div class="modal-content">
                    <div class="modal-section">
                        <span class="close-button" @click="closeModal">
                            <img src="../assets/icon/close.webp" alt="">
                        </span>
                    </div>
                    <h2 id="modal-title" class="modal-title">{{modalDrink.name}}</h2>
                    <img :src="modalDrink.img" alt="Cocktail Image" class="modal-image">
                    <div class="modal-section">
                        <p class="modal-section-title">Tecnicque</p>
                        <p id="modal-technique">{{modalDrink.technique}}</p>
                    </div>
                    <div class="modal-section">
                        <p class="modal-section-title">Glass</p>
                        <div v-if="Array.isArray(modalDrink.glass)" class="glasses">
                            <div v-for="(glass, index) in modalDrink.glass" :key="index">{{glass}}
                            </div>
                        </div>
                        <div v-else>
                            {{modalDrink.glass}}
                        </div>
                    </div>
                    <div class="modal-section">
                        <p class="modal-section-title">Recipe</p>
                        <div v-if="Array.isArray(modalDrink.recipe)" class="recipe-ingredients">
                            <div v-for="(ingredients, index) in modalDrink.recipe" :key="index">
                                <div class="recipe-line">
                                    <span class="col-1">{{ingredients.level}}</span>
                                    <span class="col-2">{{ingredients.ing}}</span>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            {{modalDrink.recipe}}
                        </div>
                    </div>
                    <div class="modal-section">
                        <p class="modal-section-title">Garnish</p>
                        <div v-if="Array.isArray(modalDrink.garnish)" class="garnish-ingredients">
                            <div v-for="(ingredients, index) in modalDrink.garnish" :key="index" v-html="ingredients">
                                </div>
                        </div>
                        <div v-else v-html="modalDrink.garnish">
                        </div>
                    </div>

                </div>
            </div>

        </main>

        <script src="../scripts/drinks.js"></script>

    </div>

</body>

</html>